html {
  background-color: white !important;
  print-color-adjust: exact !important;
  print-color-adjust: exact;
}

body {
  font-size: 8pt;
  width: 11in;
  padding: 10px;
}

a.comment-indicator:hover + div.comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}

a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}

div.comment {
  display: none;
}

table {
  border-collapse: collapse;
  page-break-after: always;
}

.gridlines td {
  border: 1px dotted black;
}

.gridlines th {
  border: 1px dotted black;
}

.b {
  text-align: center;
}

.e {
  text-align: center;
}

.f {
  text-align: right;
}

.inlineStr {
  text-align: left;
}

.n {
  text-align: right;
}

.s {
  text-align: left;
}

td.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

th.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

td.style1 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style1 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style2 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style2 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style3 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style3 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

th.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

td.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #e7e6e6 !important;
  print-color-adjust: exact;
}

th.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #e7e6e6 !important;
  print-color-adjust: exact;
}

td.style6 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #e7e6e6 !important;
  print-color-adjust: exact;
}

th.style6 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #e7e6e6 !important;
  print-color-adjust: exact;
}

td.style7 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #ffffff !important;
  print-color-adjust: exact;
}

th.style7 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  background-color: #ffffff !important;
  print-color-adjust: exact;
}

td.style8 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

th.style8 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

td.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

th.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #d9e2f3 !important;
  print-color-adjust: exact;
}

td.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

th.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

td.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

th.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

td.style12 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

th.style12 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #ffff00 !important;
  print-color-adjust: exact;
}

table.sheet0 col.col0 {
  width: 20.3333331pt;
}

table.sheet0 col.col1 {
  width: 67.09999923pt;
}

table.sheet0 col.col2 {
  width: 117.93333198pt;
}

table.sheet0 col.col3 {
  width: 117.93333198pt;
}

table.sheet0 col.col4 {
  width: 117.93333198pt;
}

table.sheet0 col.col5 {
  width: 117.93333198pt;
}

table.sheet0 col.col6 {
  width: 117.93333198pt;
}

table.sheet0 col.col7 {
  width: 117.93333198pt;
}

table.sheet0 col.col8 {
  width: 117.93333198pt;
}

table.sheet0 col.col9 {
  width: 117.93333198pt;
}

table.sheet0 col.col10 {
  width: 117.93333198pt;
}

table.sheet0 tr {
  height: 15pt;
}

table.sheet0 tr.row0 {
  height: 15.75pt;
}

table.sheet0 tr.row1 {
  height: 15.75pt;
}

table.sheet0 tr.row2 {
  height: 15.75pt;
}

table.sheet0 tr.row3 {
  height: 78.75pt;
}

table.sheet0 tr.row4 {
  height: 78.75pt;
}

.header {
  text-align: center;
}

.tbl {
  font-weight: bold;
}

.text-red {
  color: red !important;
  print-color-adjust: exact;
}

.ttd {
  margin-top: 10px;
}

.sheet0 td {
  padding: 5px;
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
    size: landscape;
  }

  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .sheet0 {
    page-break-after: avoid;
  }
}
