html {
  font-family: arial;
  background-color: white !important;
  print-color-adjust: exact;
}

.body {
  font-size: 9pt;
  width: 11in;
  padding: 10px;
}

a.comment-indicator:hover + div.comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}

a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}

div.comment {
  display: none;
}

table {
  border-collapse: collapse;
  page-break-after: always;
}

.gridlines td {
  border: 1px dotted black;
}

.gridlines th {
  border: 1px dotted black;
}

.b {
  text-align: center;
}

.e {
  text-align: center;
}

.f {
  text-align: right;
}

.inlineStr {
  text-align: left;
}

.n {
  text-align: right;
}

.s {
  text-align: left;
}

td.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

th.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

td.style1 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

th.style1 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

td.style2 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style2 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style3 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style3 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style5 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style6 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style6 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style7 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #31ff31 !important;
  print-color-adjust: exact;
}

th.style7 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style8 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style8 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style9 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: 1px solid #000000 !important;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

th.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

td.style12 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style12 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style13 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style13 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style14 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style14 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style15 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style15 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style18 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style18 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style19 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style19 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style20 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

th.style20 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: none #000000;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #bdd6ee !important;
  print-color-adjust: exact;
}

td.style21 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

th.style21 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #fea2bc !important;
  print-color-adjust: exact;
}

td.style22 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

th.style22 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #e2eeda !important;
  print-color-adjust: exact;
}

td.style23 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

th.style23 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #66ff66 !important;
  print-color-adjust: exact;
}

td.style24 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #b4bac3 !important;
  print-color-adjust: exact;
}

th.style24 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: none #000000;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #b4bac3 !important;
  print-color-adjust: exact;
}

td.style25 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

th.style25 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: white !important;
  print-color-adjust: exact;
}

td.style26 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff !important;
  print-color-adjust: exact;
}

th.style26 {
  vertical-align: top;
  text-align: left;
  padding-left: 0px;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff !important;
  print-color-adjust: exact;
}

table.sheet0 col.col0 {
  width: 63.71111038pt;
}

table.sheet0 col.col1 {
  width: 134.19999846pt;
}

table.sheet0 col.col2 {
  width: 134.19999846pt;
}

table.sheet0 col.col3 {
  width: 134.19999846pt;
}

table.sheet0 col.col4 {
  width: 134.19999846pt;
}

table.sheet0 col.col5 {
  width: 134.19999846pt;
}

table.sheet0 col.col6 {
  width: 134.19999846pt;
}

table.sheet0 col.col7 {
  width: 134.19999846pt;
}

table.sheet0 col.col8 {
  width: 134.19999846pt;
}

table.sheet0 col.col9 {
  width: 134.19999846pt;
}

table.sheet0 tr {
  height: 15pt;
}

table.sheet0 tr.row2 {
  height: 15.75pt;
}

table.sheet0 tr.row3 {
  height: 47.25pt;
}

table.sheet0 tr.row4 {
  height: 63pt;
}

.header {
  text-align: center;
}

.tbl {
  font-weight: bold;
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
    size: portrait;
  }

  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  /* td.style7 {
              background-color: #31ff31 !important; !important
                            print-color-adjust: exact;
              print-color-adjust: exact;
          } */
}
